@media only screen and (min-width: 1024px) {


	/* [SEBELUM]
	Bagian ini digedekin, jgn pake grid 
	.content {
		margin: 5% 10%;
		display: grid;
		grid-template-columns: 70% 1fr;
	}
	*/

	.content {
		padding-top: 80px;
		/* position: relative; */
		max-width: 1068px;
		margin: auto;
		z-index: 0;
	  }

	/* SEBELUM
	.blog-archive {
		margin: 5% 10%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 25px;
		grid-row-gap: 25px;
	} */

}
